<a href="https://colab.research.google.com/github/romi2002/semanatec_analitica/blob/main/3_3_Actividad_Lectura_Datos_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad

- Equipo 5

# Entregar 
Archivo PDF de la actividad y la liga de la actividad en su repostitorio.

# Nota: 
Todas las tareas entregadas fuera de la fecha limite se califican sobre 50 de los 100 puntos posibles.

1. Leer el archivo **netflix_titles.csv**

In [4]:
from google.colab import files
uploaded = files.upload()

import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded['netflix_titles.csv'].decode('utf-8')))

Saving netflix_titles.csv to netflix_titles (1).csv

2. Observa las primeras líneas usando la función head

In [5]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

3. Genera una función que despliegue el primer reglon del archivo.

In [6]:
## Esta función debe de regresar una lista con los valores del primer reglon
def top_uno():
  return df.head(1)

top_uno()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...

4. Genera una función que regrese el número de registros del archivo

In [7]:
## Esta función tiene que entregar el número de registros del archivo
def row_number():
  return len(df)

row_number()

7787

5. Generar una función que entregue las películas con release_year del 2020

In [9]:
## Esta función tiene que entregar las películas creadas en el año 2020

year_consulta=2020
def released_year(year):
  return df[df['release_year'] == year]

released_year(year_consulta).head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
24,s25,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...
26,s27,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,1 Season,Reality TV,This docuseries takes a deep dive into the luc...
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
29,s30,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,1 Season,TV Comedies,Kenya Barris and his family navigate relations...

6. Películas con la columna de contry='Mexico'

In [10]:
## Esta función tiene que entregar las películas creadas en Mexico
pais_consulta='Mexico'

def country_year(pais_consulta):
  return df[df['country'] == pais_consulta] 

country_year(pais_consulta).head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
292,s293,Movie,Acapulco La vida va,Alfonso Serrano Maturino,"Patricio Castillo, Sergio Bustamante, Alejandr...",Mexico,"June 3, 2017",2016,TV-MA,89 min,"Comedies, Dramas, International Movies",Three lifelong friends travel to Acapulco oste...
370,s371,Movie,Alan Saldaña: Mi vida de pobre,"Raúl Campos, Jan Suter",Alan Saldaña,Mexico,"August 4, 2017",2017,TV-MA,54 min,Stand-Up Comedy,Mexican comic Alan Saldaña has fun with everyt...
378,s379,Movie,Alex Fernández: The Best Comedian in the World,Alex Díaz,Alex Fernández,Mexico,"January 23, 2020",2020,TV-MA,51 min,Stand-Up Comedy,Comic Alex Fernández performs his familiar aut...

**Ejercicio de apply**

Genrar una función que obtenga el cuadrado de un número y llamala cuadrado.

In [16]:
def cuadrado(x):
    return x*x

Usando la instruccion **apply** generar el cuadrado de todos los valores del siguiente dataframe. 

Ultiliza la función que definiste en el paso anterior.

In [20]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 5, 6], 'B': [10, 20, 30, 40, 50]})
df.applymap(cuadrado)

    A     B
0   1   100
1   4   400
2   9   900
3  25  1600
4  36  2500

**Ejercicio de map**

Calcular la longitud del contenido de todas las celdas del datafame usando **lambda** y la operación **map**

In [26]:
import pandas as pd

stringlen = lambda s : len(s)

df = pd.DataFrame({'Nombre': ['Luz', 'Eunice','Ignacio','José'], 'Apellido': ['Angeles', 'Ochoa','Treviño','Zapata']})
totalLen = df['Nombre'].map(stringlen).sum() + df['Apellido'].map(stringlen).sum()
totalLen

45