<a href="https://colab.research.google.com/github/romi2002/semanatec_analitica/blob/main/4_2_Actividad_Estadisticas_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad

- **Equipo 5**

# Entregar 
Archivo PDF de la actividad y la liga de la actividad en su repostitorio.

# Nota: 
Todas las tareas entregadas fuera de la fecha limite se califican sobre 50 de los 100 puntos posibles.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
# Nos cambiamos a la carpeta donde tengamos el repositorio. Si es otra carpeta asegúrate de cambiar la ruta.
%cd /content/drive/MyDrive/SemanaTec
%ls data/

/content/drive/MyDrive/SemanaTec
'insurance (1).gsheet'   insurance.csv   insurance.gsheet

# Insurance dataset

El dataset contiene información demográfica sobre los asegurado en una compañía de seguros:

- age: edad del asegurado principal
- sex: género del asegurado. female o male
- bmi: índice de masa corporal
- children: numero de niños que estan cubiertos con la poliza. 
- smoke: si fuma el beneficiario. yes/no
- region: dónde vive el beneficiario. Estos datos son de Estados Unidos. Regiones disponibles: northeast, southeast, southwest, northwest
- charges: costo del seguro.

# Actividad
Carga el dataset  **`data/insurance.csv`** y haz un análisis estadístico de las variables.

In [11]:
# Carga las librerías necesarias
import pandas as pd

In [30]:
# Carga los datos y muestra los primeros renglones
df = pd.read_csv('data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [28]:
# Crea una tabla resumen con los estadísticos generales de las variables numéricas
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [29]:
# ¿Cómo se correlacionan las variables numéricas entre sí?
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [31]:
# ¿Cuántas asegurados son hombres y cuántas son mujeres?
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [34]:
# ¿Cuántos hombres y mujeres asegurados viven en cada región?
df.groupby(['region', 'sex']).count()

                  age  bmi  children  smoker  charges
region    sex
northeast female  161  161       161     161      161
          male    163  163       163     163      163
northwest female  164  164       164     164      164
          male    161  161       161     161      161
southeast female  175  175       175     175      175
          male    189  189       189     189      189
southwest female  162  162       162     162      162
          male    163  163       163     163      163

In [37]:
# En promedio, ¿quién paga más de cuota de seguro, los fumadores o no fumadores? Muéstralo con los datos
df.groupby(['smoker']).mean()['charges']
#El promedio es mayor para los fumadores

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [40]:
# ¿Cuáles son los cargos mínimos y máximos que las personas pagan dependiendo del género y del número de hijos?
df.groupby(['sex', 'children']).agg(['min', 'max'])['charges']

                        min          max
sex    children
female 0         1607.51010  63770.42801
       1         2201.09710  58571.07448
       2         2801.25880  47305.30500
       3         4234.92700  46661.44240
       4         4561.18850  36580.28216
       5         4687.79700  19023.26000
male   0         1121.87390  62592.87309
       1         1711.02680  51194.55914
       2         2304.00220  49577.66240
       3         3443.06400  60021.39897
       4         4504.66240  40182.24600
       5         4915.05985  14478.33015

In [49]:
# ¿Cuál es el índice de masa corporal promedio para hombres y mujeres, dependiendo de la región en donde viven
# y si son fumadores? ¿Impacta esto en la tarifa del seguro?
df.groupby(['sex', 'region', 'smoker']).mean()[['bmi', 'charges']]
# La tarifa del seguro se ve principalmente afectada solamente si son fumadores

                               bmi       charges
sex    region    smoker
female northeast no      29.777462   9640.426984
                 yes     27.261724  28032.046398
       northwest no      29.488704   8786.998679
                 yes     28.296897  29670.824946
       southeast no      32.780000   8440.205552
                 yes     32.251389  33034.820716
       southwest no      30.050355   8234.091260
                 yes     30.128571  31687.988430
male   northeast no      28.861760   8664.042222
                 yes     29.560000  30926.252583
       northwest no      28.930379   8320.689321
                 yes     29.983966  30713.181419
       southeast no      34.129552   7609.003587
                 yes     33.650000  36029.839367
       southwest no      31.019841   7778.905534
                 yes     31.502703  32598.862854